In [1]:
#import libraries
#!chmod 600 ~/.kaggle/kaggle.json to secure api key
import pandas as pd
import zipfile
import kaggle

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/dametriusnorris/.kaggle/kaggle.json'

In [2]:
#downloaded dataset from kaggle using kaggle api
!kaggle datasets download -d abcsds/pokemon

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/dametriusnorris/.kaggle/kaggle.json'
Downloading pokemon.zip to /Users/dametriusnorris
  0%|                                               | 0.00/14.9k [00:00<?, ?B/s]
100%|██████████████████████████████████████| 14.9k/14.9k [00:00<00:00, 5.07MB/s]

In [4]:
#extract the file from the downloaded zip file
zipfile_name = 'pokemon.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [62]:
#read in the csv file as pandas dataframe
pokemon = pd.read_csv("pokemon.csv")

In [63]:
#explore the data
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [50]:
pokemon.shape

(800, 13)

In [64]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [52]:
#Checking for missing values, not all pokemon have a second type
pokemon.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [65]:
#Create data dictionary for mapping 1-6 to the actual name of region 
Generation_dict = {
    '1':'Kanto',
    '2':'Johto',
    '3':'Hoenn',
    '4':'Sinnoh',
    '5':'Unova',
    '6':'Kalos'
}
#Change data type of Generation column to string
pokemon.Generation = pokemon.Generation.astype('str')
#Map the values 1-6 to the name of the corresponding Region
pokemon.Generation = pokemon.Generation.map(Generation_dict)

In [66]:
#Check if data mapping worked in dataframe
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,Kanto,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,Kanto,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Kanto,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Kanto,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,Kanto,False

In [67]:
#writing the final dataframe to an excel file for our tableau visualizations
pokemon.to_excel('pokemon_final.xlsx', sheet_name='Data')